{% extends "base.html" %}    
{% load static %}
{% block content %}
    <div class="container-text-center">
        <div class="row">
            <div>
                <h2>Home</h2>
            </div>
            <div>
                <hr>
                <a href="{% url 'nuevatarea' %}">
                    <button type="button" class="btn btn-primary">Nueva Tarea</button>
                </a>
                <a>Fecha Inicio : </a>
                <input type="date" value="" min="" max="">
                <a>Fecha Final : </a>
                <input type="date" value="" min="" max="">
                <button type="submit" class="btn btn-success">Consulta</button>    
            </div>
            <div>
                <hr>
                <a>Buscar : </a>
                <input type="text">
            </div>
            <div>
                <hr>
                <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Admin</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Os</th>
                            <th scope="col">Técnico</th>
                            <th scope="col">Solot</th>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo Tarea</th>
                            <th scope="col">N° Servicio</th>
                            <th scope="col">Fecha Atención</th>
                            <th scope="col">Hora Atención</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Comuna</th>
                            <th scope="col">Zona</th>
                            <th scope="col">Ingeniero</th>
                            <th scope="col">Mai</th>
                            <th scope="col">Coordinador</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <select class="form-select">
                                    <option value="1">Modificar</option>
                                    <option value="2">Eliminar</option>
                                </select>
                            </th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                        </tr>
                        </tbody>
                </table>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                        <a class="page-link">Anterior</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                        </li>
                    </ul>
                    </nav>
            </div>
        </div>
    </div>
{% endblock %}