{% extends "base.html" %}    
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-auto">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Admin</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Os</th>
                            <th scope="col">Técnico</th>
                            <th scope="col">Solot</th>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo Tarea</th>
                            <th scope="col">N° Servicio</th>
                            <th scope="col">Fecha Atención</th>
                            <th scope="col">Hora Atención</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Comuna</th>
                            <th scope="col">Zona</th>
                            <th scope="col">Ingeniero</th>
                            <th scope="col">Mai</th>
                            <th scope="col">Coordinador</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>    
{% endblock %}